---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <div id="features" class="h-screen bg-gray-100"></div>
    <div id="comparison" class="h-screen bg-white"></div>
    <div id="pricing" class="h-screen bg-gray-100"></div>
    <div id="contact" class="h-screen bg-white"></div>
  </main>
</Layout>
