---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import Comparison from '../components/Comparison.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <HowItWorks />
    <Features />
    <Comparison />
    <div id="pricing" class="h-screen bg-gray-100"></div>
    <div id="contact" class="h-screen bg-white"></div>
  </main>
</Layout>
